<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="/script.js"></script>
  <!--   BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div id= "home"  class = container>
  <div class = "row mt-5">

  <div class = "col-sm-2 text-center h-100">
    <form>
    <button id = "homebtn" class = "btn btn-success w-100 h-50" formaction="/admin" formmethod="GET" type="submit">Admin Home</button>
    </form>
  </div>
  <div class = "col-sm-2 text-center h-100">
    <form>
    <button id = "homebtn" class = "btn btn-success w-100 h-50" formaction="/orders" formmethod="GET" type="submit">Orders</button>
    </form>
  </div>
  <div class = "col-sm-2 text-center h-100">
    <form>
    <button id = "homebtn" class = "btn btn-success w-100 h-50" formaction="/claims" formmethod="GET" type="submit">Claims</button>
    </form>
      </div>
  <div class = "col-sm-2 text-center h-100">
    <form>
    <button id = "homebtn" class = "btn btn-success w-100 h-50" formaction="/employees" formmethod="GET" type="submit">Employees</button>
    </form>
  </div>
  <div class = "col-sm-2 text-center h-100">
    <form>
    <button id = "homebtn" class = "btn btn-success w-100 h-50" formaction="/customers" formmethod="GET" type="submit">Customers</button>
    </form>
  </div>
  <div class = "col-sm-2 text-center h-100">
  <form>
  <button id = "homebtn" class = "btn btn-success w-100 h-50" formaction="/products" formmethod="GET" type="submit">Products</button>
  </form>
  </div>

  </div>
  


</div>