<div id= "home"  class = container>
  <div class = "row mt-5">

  <div class = "col-sm-2 text-center h-100">
    <form>
    <button id = "homebtn" class = "btn btn-success w-100 h-50 " formaction="/" formmethod="GET" type="submit">Home</button>
    </form>
  </div>
  <div class = "col-sm-2 text-center h-100">
    <form>
    <button id = "homebtn" class = "btn btn-success w-100 h-50 " formaction="/login" formmethod="GET" type="submit">Claims</button>
    </form>
  </div>
  <div class = "col-sm-2 text-center h-100">
    <form>
    <button id = "homebtn" class = "btn btn-success w-100 h-50 " formaction="/claims" formmethod="GET" type="submit">Products</button>
    </form>
    </div>
  </div>

  </div>