<!doctype html>

<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
<h1>Heroku enteries:</h1>
    <table class="table">
      <tbody><tr><th>Test Id</th><th>Name</th><th>Description</th></tr>
        <% JSON.stringify(data) %> 
        <% data.forEach(result=>{ %>
        <tr>
          <td><%= result.testid %></td>
           <td><%= result.name %></td>
          <td><%= result.description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  
  <form id ="myForm">
    <h4>Add a new entry:</h4>
    <div>
      <label>id</label><input name="id" type="text" maxlength="100" required placeholder="id">
    </div>
    <div>
      <label>name</label><input name="name" type="text" maxlength="100" required placeholder="name">
    </div>
    <div>
      <label>description</label><input name="desc" type="text" maxlength="100" required placeholder="description">
      <button formaction="/pages/sendNames" method"POST" type="submit">Submit</button>
    </div>
  </form>
  
</body>
</html>