<!doctype html>

<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
<h1>Heroku enteries:</h1>
    <table class="table">
      <tbody><tr><th>Test Id</th><th>Name</th><th>Description</th></tr>
        <% JSON.stringify(data) %> 
        <% data.forEach(result=>{ %>
        <tr>
          <td><%= result.testid %></td>
           <td><%= result.name %></td>
          <td><%= result.description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  <form>
    <h4>
      Add a new entry:
    </h4>
    <label>id</label><input name="id" value="id">
    <label>name</label><input name="name" value="name">
    <label>description</label><input name="desc" value="id">


  <button formaction="/pages/sendNames" formmethod"POST" type="submit"> Click me</button>
</form>
  
  <% if (locals.updatedData) { %> 
    <% JSON.stringify(updatedData) %> 
    <h4>Names inside our database:</h4>
    <% updatedData.forEach(result=>{ %>
    <ol>
       <li><%= result.name %></li> 
    </ol>
    <% }); %>
  <% }%>
</body>
</html>