<%- include("partials/header") %>

<body>
  <h1>Admin Home</h1>
</body>
<p>
  DBMS Final Project
</p>
Goals for this page: create claims,create purchases - possibly create a purchases tab






<%- include("partials/footer") %>
