<!doctype html>

<html lang="en">
  
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="/static/script.js"></script>
  </head>

<body>
<h1>hey</h1>
<button><a href="https://ejs-views-practice.glitch.me/pages/database">Click me</a></button>
<form>
  <button method="GET" type="submit" action="/data/getNames"> Click me next </button>
</form>

  <% if (locals.names) { %> 
      <table class="table">
      <tbody><tr><th>Test Id</th><th>Name</th><th>Description</th></tr>
        <% JSON.stringify(names) %> 
        <% data.forEach(result=>{ %>
        <tr>
          <td><%= result.testid %></td>
           <td><%= result.name %></td>
          <td><%= result.description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% }%>
  
</body>

</html>