<%- include("partials/header") %>

<body>
  <h1>Admin Home</h1>
</body>
<p>
  create claims, create customer, create product, edit and resolve claims, email question to tech about claim  
</p>
<%- include("partials/footer") %>
