
<!doctype html>

<html lang="en">
<head>
</head>

<body>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <h1>You Searched For : <%= data.userQuery %></h1>
          <% if(data.loggedIn){ %>
                <h2> You are logg in as : <%= data.username %> </h2>
            <% } %>
          <ul>
            <% data.searchResults.forEach(result=>{ %>
                <li> <%= result %> </li> 
            <% }); %>
          </ul>
        </div>
        <div class="col-lg-4"></div>
      </div> 
   
  <script src="/public/script.js"></script>
</body>
</html>