<!doctype html>

<html lang="en">
  
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="/static/script.js"></script>
  </head>

<body>
<h1>hey</h1>
<button><a href="https://ejs-views-practice.glitch.me/pages/database">Click me</a></button>
<form>
  <button formaction="/pages/getNames" formmethod"GET" type="submit"> Click me next </button>
</form>

  <% if (locals.names) { %> 
    <% JSON.stringify(names) %> 
    <ol>
     <% names.forEach(result=>{ %>
       <li><%= result.name %></li> 
    </ol>
    <% }); %>
  <% }%>
  
</body>

</html>