<%- include("partials/header") %>

<body>
  <h1>DBMS</h1>
  <button><a href="https://ejs-views-practice.glitch.me/openclaims">Open Claims</a></button>
  <button><a href="https://ejs-views-practice.glitch.me/closedclaims">Closed Claims</a></button>

</body>

<%- include("partials/footer") %>
