<%- include("partials/header") %>

<body>
  <h1>Admin Home</h1>
  <button><a href="/claims">Claims</a></button>
  <button><a href="/employees">Employees</a></button>
  <button><a href="/customers">Customers</a></button>
  <button><a href="/products">Products</a></button>

</body>

<%- include("partials/footer") %>
