<%- include("partials/header") %>


<% if (locals.products) { %> 
<h1>
  Products
</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <% products.forEach(result=>{ %>
  <tbody>
    <tr data-toggle="modal" data-target="#descriptionModal">
      <td><%=result.name%></td>
      <td><%=result.unitcost%></td>
    </tr>    
  </tbody>
  <%})%>
<% } %>

  <button><a href="/">Return</a></button>

<!-- Modal -->
<div class="modal fade" id="descriptionModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Title Example</h4>
      </div>
      <div class="modal-body">
        <p>Testing 1 </p>
        <p>Testing 2 </p>
        <p>Testing 3 </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
  
<%- include("partials/footer") %>
  
<!-- <script type=text/javascript>
   var baseURL = "https://ejs-views-practice.glitch.me"
   
   function myFunction() {
    // productid = JSON.parse(productid);
    // description = JSON.parse(description);
    console.log("hey")
    // fetch( baseURL+'/api/', {
    //     headers:{
    //       "content-type":"application/json",
    //     },
    //     body: JSON.stringify({
    //       item: result.item,
    //       price: result.price,
    //       ingredients: result.ingredients,
    //       incart: true
    //     }),
    //     method: 'POST'
    // }).then(resp=>{
    //    window.location.reload();//so changes render
    // }, err=>{
    //   console.log(err);
    // })
  }
   
  function del(result) {
    result = JSON.parse(result);
    fetch('https://aat38-assignment3b.glitch.me/api/cart/'+result.item , {
        method: 'DELETE'
    }).then(resp=>{
     window.location.reload();
    }, err=>{
      console.log(err);
    })
  }
  
</script>  -->