<%- include("partials/header") %>


<% if (locals.products) { %> 
<h1>
  Products
</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>
  <% products.forEach(result=>{ %>
    <tr class='clickable-row' data-toggle="modal" data-target="#modal" style="cursor:pointer">
      <td><%=result.name%></td>
      <td><%=result.unitcost%></td>
    </tr>    
  <% var description = result.description %>
  <%})%>
<% } %> 
  </tbody>

  
  <button><a href="/">Return</a></button>

  
  
<script type=text/javascript>

</script>
  
  <%- include("partials/footer") %>
